<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h2>Resumen de Estadísticas</h2>


    <h6>Promedio General de Consumo de Energía:</h6>
    <p>@ViewBag.PromedioGeneralConsumoEnergia</p>

    <h6>Total Descuentos Aplicados por Ahorro de Energía:</h6>
    <p>@ViewBag.TotalDescuentosAhorroEnergia</p>

    <h6>Total de Exceso de Agua:</h6>
    <p>@ViewBag.TotalExcesoAgua</p>

    <h6>Total de Clientes con consumo mayor al promedio </h6>
    <p>@ViewBag.TotalclientesConConsumoMayorPromedio</p>

    <h6>Total Pagado por Energía:</h6>
    <p>@ViewBag.TotalPagadoEnergia</p>

    <h6>Total Pagado por Agua:</h6>
    <p>@ViewBag.TotalPagadoAgua</p>

   



</body>
</html>